body
{
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	background-color: #ddd;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 13px;
	color: #333;
}

h1
{
	font-size: 28px;
	color: #000;
}

a { color: #03c; }

a:hover
{
	background-color: #03c;
	color: white;
	text-decoration: none;
}

.note th { text-align: left; }
.note .meta { font-size: 10px; }
.note:nth-child(odd) { background-color: #eee; }
.note:nth-child(odd) td { outline: 1px solid #eee; }
.note:nth-child(odd) th { outline: 1px solid #eee; }

#page
{
	background-color: #ddd;
	width: 750px;
	margin: auto;
	margin-left: auto;
	padding-left: 0px;
	margin-right: auto;
}

#content
{
	background-color: white;
	border: 3px solid #aaa;
	border-top: none;
	padding: 25px;
	width: 500px;
}

#header h1, #header h2 { margin: 0; }

#header h2
{
	color: #888;
	font-weight: normal;
	font-size: 16px;
}

#search
{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
}

#search input
{
	font-size: 11px;
	margin: 2px;
}

#search-text { width: 170px; }

h1, h2, h3, h4, h5
{
	font-family: sans-serif;
	margin: 1.2em 0 0.6em 0;
}

p
{
	line-height: 1.5em;
	margin: 1.6em 0;
}

#footer
{
	clear: both;
	padding-top: 2em;
	text-align: center;
	padding-right: 160px;
	font-family: sans-serif;
	font-size: 10px;
}
